p.danger {
	font-family: 'Poppins';
	color: #f55c47;
	text-align: center;
	margin: 0;
	font-size: 0.7rem;
}

p.pass {
	display:  none;
}

input.danger {
	border: 2px solid #f55c47;
}

textarea.danger {
	border: 2px solid #f55c47;
}

.containerButton{
  height: 45px;
  line-height:45px;
  width: 30%;
  background: #f4651a;
  color:#fff;
  font-weight:bold;
  border: none;
  border-radius:3px;
  cursor: pointer;
  transition: .1s ease all;
}