*{
    box-sizing: border-box;
} 

.main{
  font-family: 'Roboto',sans-serif;
  max-width: 800px;
  width: 90%;
  margin: auto;
  padding: 40px;
  background: #fac771;
}

.form{
    display:grid;
    grid-template-columns: 1fr 1fr;
}